version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: gidro_backend
    restart: unless-stopped
    env_file:
      - ./backend/.env
    environment:
      - FLASK_ENV=production
      - FLASK_APP=app.py
    volumes:
      - ./backend/database:/app/database
    ports:
      - "5252:5252"
    networks:
      - gidro_net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        REACT_APP_API_URL: "http://backend:5252/api"
    container_name: gidro_frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - gidro_net

networks:
  gidro_net:
    driver: bridge
